.about
{
    margin: 100px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-left
{
    flex-basis: 40%;
    position: relative;
    cursor: pointer;
}

.about-right
{
    flex-basis: 56%;
}

.about-left img
{
    width: 100%;
    border-radius:5px;
}

.about-left i
{
   font-size: 30px;
   color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.about-right h3
{
    letter-spacing: 1px;
    font-size: 16px;
    color: #212ea0;
    font-weight: 600;
}

.about-right h2
{
    font-size: 35px;
    max-width: 400px;
    letter-spacing: 1px;
    line-height: 2.9rem;
}

.about-right p
{
    margin-bottom: 2px;
}

@media (max-width:800px) {
    .about
    {
        flex-direction: column;
    }

    .about-left
    {
        flex-basis: 100%;
        margin: 10px;
        order: 2;
    }

    .about-right
    {
        flex-basis: 100%;
        margin: 10px;
    }

    .about-right h2
    {
        width: 100%;
        font-size: 25px;
    }
}