.programs
{
    margin: 4.8rem auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.program img
{
    width: 100%;
    display: block;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.program
{
    flex-basis: 31%;
    position: relative;
}

.caption
{
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 15, 152, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}

.caption  i
{
    font-size:50px;
}

.program:hover  .caption
{
    opacity: 1;
    padding-top: 0;

}


