@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arya , calibri;
}

a
{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li
{
  list-style: none;
}

.container
{
  padding-left: 10%;
  padding-right: 10%;
}

.btn
{
  background-color: #fff;
  color: #000;
  padding: 0.4rem 1rem;
  border: none;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  font-weight: 600;
}

.btn.dark-btn
{
  background: #5210a2;
  color: #fff;
  letter-spacing: 1px;
}

@media screen and (max-width:1000px) {
  .container
  {
    padding-left:6%;
    padding-right: 6%;
  }
}

